<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="@{/css/bootstrap.min.css}"/>
</head>


<body>
<!--when this will be called, any page will be formatted with this layout-->

    <header>
        <div th:insert="fragments/header :: header"></div>
    </header>

    <div layout:fragment="content">
    </div>

    <footer>
        <div th:insert="fragments/footer :: footer"></div>
    </footer>
</body>
</html>